* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    background-color: #08070C;
}

.section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 34px;
    gap: 20px;
    z-index: 999;
    position: fixed;
    justify-content: center;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    width: 1474px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 0px 55px;

    /* Liquid-Glass */
    backdrop-filter: url(#liquid-distortion) blur(0.9px);
    -webkit-backdrop-filter: url(#liquid-distortion);
    border: 1px solid rgba(255, 255, 255, 0.15);

    background: linear-gradient(180deg, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.01) 100%), #0d0a1471;
}

.navbar-header::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px; /* espessura da borda */
  background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.05) 30%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.25) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.navbar-header div {
    display: flex;
    flex-direction: row;
    gap: 23px;
    min-width: 240px;
}

.navbar-header a {
    font: 15px"Nunito";
    color: #7B4BB3;
}

.navbar-header img {
    height: 40px;
}

#button-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font: 16px "Nunito";
    font-weight: 800;
    color: #7B4BB3;

    /* Liquid-Glass */
    backdrop-filter: url(#liquid-distortion) blur(0.9px);
    -webkit-backdrop-filter: url(#liquid-distortion);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50px;

    background: linear-gradient(180deg, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.01) 100%), #0d0a1471;
    cursor: pointer;
    transition: 1s;
}

/* Borda Transparente do Liquid Glass */
#button-login::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.05) 30%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.25) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  transition: 2s;
}

#button-login:hover {
    border: 1px solid rgba(255, 255, 255, 0.514);
    color: #b987f1;
}

.modals {
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: 414px;
    
    backdrop-filter: url(#liquid-distortion) blur(5px);
    -webkit-backdrop-filter: url(#liquid-distortion);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50px;

    background: linear-gradient(180deg, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.01) 100%), #0d0a1471;
    transform: translateY(100px);
    transition: 0.5s;
    align-self: flex-end;
    margin-right: 215px;
    z-index: 3;
    position: fixed;
    padding: 26px 58px;
}

.switch-login {
    display: flex;
    flex-direction: row;
    width: 154px;
    height: 34px;
    background-color: rgba(100, 49, 167, 0.274);
    border: 1px solid #ffffff49;
    border-radius: 50px;
    position: relative;
}

.switch-login button {
    display: flex;
    flex-direction: row;
    width: 77px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font: 12px "Inter";
    font-weight: 900;
    color: #fff;
    background-color: transparent;
    z-index: 3;
}

.switch-bg {
    position: absolute;
    width: 77px;
    height: 100%;
    background-color: #6161611f;
    z-index: 2;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 1px solid #af6afd1c;
}

.switch-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.05) 30%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.25) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  transition: 2s;
}

.modal-login {
    display: flex;
    flex-direction: column;
}

.modal-login p {
    font: 15px "Inter";
    font-weight: 900;
    color: #fff;
    margin-top: 15px;
}

.modal-login input {
    width: 100%;
    height: 40px;
    font: 15px "Inter";
    color: #fff;
    background-color: #fdfcff13;
    border: 1px solid #fdfcff50;
    border-radius: 5px;
    padding-left: 5px;
    outline: 1px solid transparent;
    transition: 0.5s;
}

.modal-login input:focus {
    outline: 1px solid #fff;
}

.modal-login a {
    font: 12px "Inter";
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 26px;
}

.modal-login button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 46px;
    font: 16px "Inter";
    font-weight: 900;
    color: #fff;
    border: 1px solid #ffffff57;
    background-color: #ffffff15;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    transition: 0.5s;
}

.modal-login button:hover {
    border-color: #ffffff98;
    background-color: #ffffff31;
}

#google-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border-radius: 100%;
    background-color: #ffffff1f;
    border: 1px solid #ffffff46;
    align-self: center;
    margin-top: 20px;
}

.cta-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 900px;
    justify-content: space-between;
    padding: 0px 164px;
    margin-top: 150px;
}

.cta-section video {
    height: 950px;
    margin-top: -200px;
    z-index: 1;
}

.cta-section > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}

.hero-header-title {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.hero-header-title h2 {
    font: 128px "Inter";
    height: 155px;
    font-weight:900;
    color: #7B4BB3;
    cursor:default;
}

@keyframes switch-font {
  0% {
    transform: scale(1);
    font-family: "Inter";
  }
  5% {
    transform: scale(1.31) translateX(156px);
    font-family: "Jersey 10";
  }
  10% {
    transform: scale(1);
    font-family: "Inter";
  }
  15% {
    transform: scale(1.31) translateX(156px);
    font-family: "Jersey 10";
  }
  80% {
    transform: scale(1);
    font-family: "Inter";
  }
  100% {
    transform: scale(1.31) translateX(156px);
    font-family: "Jersey 10";
  }
}

.hero-header-title h2:nth-child(2) {
     animation: 5s step-end infinite alternate switch-font;
     margin-left: 76px;
}

.hero-header-title h2:last-child {
    margin-left: 339px;
}

.hero-header-title h2:hover:last-child {
    font: 148px "Tiny5";
    cursor: pointer;
}

.button-swap {
    display: flex;
    flex-direction: row;
    gap: 19px;
    position: relative;
    bottom: -600px;
}

.button-swap button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: #7B4BB3;
    color: #fff;
    font: 20px "Nunito";
    transition: 0.5s;
    border: 1px solid #7B4BB3;
    cursor: pointer;
}

.button-swap button:last-child {
    background-color: transparent;
    border: 1px solid #7B4BB3;
    color: #7B4BB3;
    font: 20px "Nunito";
}

.button-swap button:hover {
    transform: translateY(-5px);
    border: 1px solid #fff;
    color: #fff;
}

.data-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 64px;
    perspective: 1000px;
}

.data-section div {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 196px;
    align-items: center;
    justify-content: center;


    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 24px;

    background: linear-gradient(180deg, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.01) 100%), #0d0a1471;
}

.data-section h3 {
    font: 64px "Nunito";
    font-weight: 900;
    color: #7B4BB3;
}

.data-section p {
    width: 258px;
    font: 20px "Nunito";
    font-weight: 100;
    color: #fff;
    text-align: center;
    text-align: center;
}

.about-us {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about-us h2 {
    font: 48px "Nunito";
    font-weight: 900;
    color: #7B4BB3;
}

.about-us p {
    width: 678px;
    font: 32px "Nunito";
    font-weight: 100;
    color: #fff;
}

.about-us > div {
    display: flex;
    flex-direction: row;
    gap: 138px;
    margin-top: 85px;
    align-items: center;
}

.blocks-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    gap: 25px;
}

.blocks-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 200px;
    background-color: #7B4BB3;
    border-radius: 24px;
    font: 24px "Inter";
    font-weight: 900;
    color: #2d2b36;
    position: relative;
    border: 1px solid #2D2B36;

    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;
    will-change: transform;
    cursor: pointer;
}

.blocks-wrapper div:hover .aboutcard1 {
    opacity: 0;
}

.blocks-wrapper div:hover .aboutcard2 {
    opacity: 1;
}

.blocks-wrapper div:nth-child(2), .blocks-wrapper div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 200px;
    background-color: #2d2b3675;
    border-radius: 24px;
    font: 24px "Inter";
    font-weight: 900;
    color: #7B4BB3;
}

.aboutcard1 {
    opacity: 1;
    transition: 0.2s;
}

.aboutcard2 {
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: 0.5s;
}

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.services > h2 {
    font: 32px "Nunito";
    font-weight: 900;
    color: #7B4BB3;
    margin-left: 258px;
}

.packages {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 38px;
    margin-top: 260px;
    padding-bottom: 150px;
}

@keyframes flut {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-15px); }
}

.packages div {
    display: flex;
    flex-direction: column;
    width: 418px;
    height: 488px;
    padding: 42px;

    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 24px;

    background: linear-gradient(180deg, rgba(240, 129, 255, 0.075) 0%, rgba(131, 36, 255, 0.055) 100%), #0d0a1471;
    animation: 5s linear infinite flut;
    animation-delay: -0s;
    transition: 0.3s;
    cursor: pointer;
    content-visibility: auto;
}

.packages div:hover {
    border: 1px solid rgba(214, 143, 255, 0.548);
}

.packages div:first-child {
    animation-delay: -4s;
}

.packages div:nth-child(2) {
    translate: 0 -140px;
    background: linear-gradient(180deg, rgba(240, 129, 255, 0.178) 0%, rgba(131, 36, 255, 0.13) 100%), #0d0a1471;
    animation-delay: -2s;
    box-shadow: 0px -10px 50px 5px #7c4bb35e;
}

.packages h2 {
    font: 32px "Inter";
    font-weight: 600;
    color: #7B4BB3;
}

.packages label {
    font: 24px "Inter";
    font-style: italic;
    color: #f5f5f573;
    font-weight: 200;
}

.packages h3 {
    font: 32px "Inter";
    font-weight: 600;
    color: #fff;
    margin-top: 58px;
}

.packages button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    background-color: #7B4BB3;
    margin: 12px 0px 28px 0px;
    border-radius: 8px;
    font: 20px "Nunito";
    color: #F5F5F5;
    transition: 0.3s;
}

.packages button:hover {
    background-color: #9359d4;
}

.packages li {
    font: 20px "Inter";
    color: #F5F5F5;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 484px;
    background-color: #16151B;
    padding: 110px;
    align-items: center;
}

.news-swap {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.social a {
    height: 40px;
}

.newsletter {
    display: flex;
    flex-direction: column;
}

.newsletter h2 {
    font: 34px "Nunito";
    font-weight: 800;
    color: #7B4BB3;
    align-self: center;
}

.newsletter label {
    font: 15px "Nunito";
    font-weight: 200;
    color: #f5f5f571;
    align-self: center;
}

.newsletter div {
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-top: 20px;
}

.newsletter input {
    width: 512px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #7B4BB3;
    border-radius: 8px;
    color: #fff;
    padding-left: 20px;
    outline: none;
    font: 14px "Nunito";
    color: #E6E6E6;
}

.newsletter input:focus {
    border: 1px solid #ae6afd;
}

.newsletter button {
    width: 136px;
    height: 56px;
    background-color: #7B4BB3;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    font: 20px "Nunito";
}

.newsletter button:hover {
    background-color: #b06dfd;
}

.newsletter p {
    font: 12px "Inter";
    color: #fff;
    margin-top: 10px;
}

.newsletter span {
    text-decoration: underline;
}

.terms {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 186px;
    justify-content: space-between;
}

.terms div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.terms a {
    font: 14px "Inter";
    color: #fff;
    text-decoration: underline;
}

.terms p {
    font: 14px "Inter";
    color: #fff;
}