* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 900vh;
    overflow-x: hidden;
    background-color: #08070C;
}

.section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 34px;
    gap: 20px;
    z-index: 999;
    position: fixed;
    justify-content: center;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    width: 1474px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 0px 55px;

    /* Liquid-Glass */
    backdrop-filter: url(#liquid-distortion) blur(0.9px);
    -webkit-backdrop-filter: url(#liquid-distortion);
    border: 1px solid rgba(255, 255, 255, 0.15);

    background: linear-gradient(180deg, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.01) 100%), #0d0a1471;
}

.navbar-header::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px; /* espessura da borda */
  background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.05) 30%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.25) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.navbar-header div {
    display: flex;
    flex-direction: row;
    gap: 23px;
    min-width: 240px;
}

.navbar-header a {
    font: 15px"Nunito";
    color: #7B4BB3;
}

.navbar-header img {
    height: 40px;
}

#button-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font: 16px "Nunito";
    font-weight: 800;
    color: #7B4BB3;

    /* Liquid-Glass */
    backdrop-filter: url(#liquid-distortion) blur(0.9px);
    -webkit-backdrop-filter: url(#liquid-distortion);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50px;

    background: linear-gradient(180deg, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.01) 100%), #0d0a1471;
    cursor: pointer;
}

/* Borda Transparente do Liquid Glass */
#button-login::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.05) 30%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.25) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.cta-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 900px;
    justify-content: space-between;
    padding: 0px 164px;
    margin-top: 150px;
}

.cta-section video {
    height: 950px;
    margin-top: -200px;
    z-index: 1;
}

.cta-section > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.hero-header-title {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.hero-header-title h2 {
    font: 128px "Inter";
    font-weight:900;
    color: #7B4BB3;
}

@keyframes switch-font {
  0% {
    font-size: 128px;
    font-family: "Inter";
  }
  5% {
    font-size: 168px;
    font-family: "Jersey 10";
  }
  10% {
    font-size: 128px;
    font-family: "Inter";
  }
  15% {
    font-size: 168px;
    font-family: "Jersey 10";
  }
  80% {
    font-size: 128px;
    font-family: "Inter";
  }
  100% {
    font-size: 168px;
    font-family: "Jersey 10";
  }
}

.hero-header-title h2:nth-child(2) {
     animation: 5s step-end infinite alternate switch-font;
     margin-left: 76px;
}

.hero-header-title h2:last-child {
    margin-left: 339px;
}

.hero-header-title h2:hover:last-child {
    font: 148px "Tiny5";
}

.button-swap {
    display: flex;
    flex-direction: row;
    gap: 19px;
    align-self: center;
    position: relative;
    top: 600px;
}

.button-swap button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #7B4BB3;
    color: #fff;
    font: 20px "Nunito";
    transition: 0.5s;
    border: 1px solid #7B4BB3;
    cursor: pointer;
}

.button-swap button:last-child {
    background-color: transparent;
    border: 1px solid #7B4BB3;
    color: #7B4BB3;
    font: 20px "Nunito";
}

.button-swap button:hover {
    transform: translateY(-5px);
    border: 1px solid #fff;
    color: #fff;
}